{{ define "title" }}Pixelvore{{ end }}
{{ define "content" }}
{{ range .Images }}
<div class="image">
    <a href="/image/{{.Id}}">
        <img src="https://d2f33fmhbh7cs9.cloudfront.net/image/{{.AHash}}/1000w/{{.Id}}{{.Ext}}" width="1000" />
    </a>
</div>
{{ end }}

{{ if .HasPrevPage }}
<div class="pagination">
    <a href="/?page={{.PrevPage}}">Prev</a>
</div>
{{ end }}
{{.Page}} / {{.TotalPages}}
{{ if .HasNextPage }}
<div class="pagination">
    <a href="/?page={{.NextPage}}">Next</a>
</div>
{{ end }}
{{ end }}
